html, body{
    height: 100%;
    min-height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    /*	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
}
h1{
    line-height: normal;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
}
h2{
    line-height: normal;
    margin: 0;
    font-size: 33px;
    font-weight: 400;
}
h3{
    line-height: normal;
    margin: 0;
    font-size: 20px;
    font-weight: 400;
}
p{
    line-height: normal;
    font-weight: 300;
    font-size: 20px;
}
.auto{
    height: auto !important;
    overflow: hidden;
    border-radius: 3px;
    background: #fff;
    padding: 60px 40px;
    margin: 0 auto 20px auto; 
    border: 1px solid #ebebeb;
    max-width: 1080px;
}
.loader{
    display: block;
    overflow: hidden;
}
.loader img{
    width: 40px;
}
.auto p{
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
}
.auto ul li{
    line-height: normal;
    font-weight: 300;
    font-size: 16px;
    margin: 0 10px;
    list-style: none;
}
.auto ul li::before{
    content: "►";
    color: #0056B0;
    margin: 0 6px 0 0;
    font-size: 13px;
}
.auto .tabella{
    margin: 15px 0;
    padding: 0;
    width: auto;
}
.auto .tabella thead tr th {
    padding: 10px;
    
    width: 33%;
    text-align: left;
    border-bottom: dashed 1px #CECECE;
    border-left: dashed 1px #CECECE;
}
.auto .tabella thead tr th:last-child {
    border-right: dashed 1px #CECECE;
}
.auto .tabella tr td {
    border-bottom: dashed 1px #CECECE;
    padding: 10px;
    border-left: dashed 1px #CECECE;
}
.auto .tabella tr td:last-child {
    border-right: dashed 1px #CECECE;
}
.swiper-slide p {
    line-height: normal;
    font-weight: 300;
    font-size: 16px;
}
.num-list li, .letter-list li{
    line-height: normal;
    font-weight: 300;
    font-size: 16px !important;
}
ul, li{
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: 300;
    font-size: 20px;
}
.box-text ul li{
    list-style: none !important;
    margin: 0 10px;
}
.box-text ul li::before {
    content: "►";
    color: #0056B0;
    margin: 0 6px 0 0;
}
footer{
    display: block;
    clear: both;
    padding: 0;
    background: #bfbfbf;
}
footer .part{
    clear: both;
    width: auto;
    text-align: center;
    padding: 20px 0;
}
footer .part a{
    text-decoration: none;
    margin: 0 10px 0 0;
    font-size: 16px;
    color: #000;
}

footer .part2{
    width: auto;
    clear: both;
    text-align: center;
    background: #DFDFDF;
    color: #000;
    padding: 20px 0;
    margin: 0;
    font-size: 16px;
}
.part-left a{
    text-decoration: none;
}
.txt-center{
    text-align: center;
}
.num-list{
    list-style: decimal;
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 0 17px;
}
.letter-list{
    margin: 0 0 0 16px;
    padding: 0;
}
.upper{
    text-transform: uppercase;
}
.light-blu{
    color: #1ba5de;
}
.violet{
    color: #8e4dc9;
}
.violet2{
    color: #a74cbc;
}
.white{
    color: #fff;
}
.dark-gray{
    background: #d5d5d5;
}
header {
    display: block;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: #f4f4f4;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.31);
}
.logo{
    width: 116px;
    height: 46px;
    background: url("/img/front-page/big-logo.png") no-repeat center;
    background-size: contain;
    display: block;
    float: left;
    margin: 7px 0 0 10px;
}
section{
    height: 100%;
}
.table{
    display: table;
    height: 100%;
    width: calc(100% - 8%);
    padding: 0 4%;
}
.left-align{
    text-align: left;
}
.cell-table{
    display: table-cell;
    vertical-align:middle;
}
.multicolor{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.gray{
    background: #ebebeb;
}
.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: 560px;
    text-align: center;
}
.center-logo{
    background: url("/img/front-page/logo.png") no-repeat center;
    background-size: contain;
    display: inline-block;
    width: 350px;
    height: 380px;
}
.left, .right{
    float: left;
    width: 50%;
    height: 100%;
}

.coda{
    background:#ebebea url("/img/front-page/coda.png") no-repeat center;
    background-size: contain;
    display: inline-block;
}
.phone-app{
    background: url("/img/front-page/phone-app.png") no-repeat center;
    background-size: contain;
    display: inline-block;
}
.esercente{
    background: url("/img/front-page/esercente.png") no-repeat center;
    background-size: contain;
    display: inline-block;
}
.box-text{
    padding: 0 4%;
    display: inline-block;
    margin: 6% 0;
    height: 100%;
    width: 90%;
}
.list-box{
    margin: 30px 0 0 0;
}
.list-box ul li{
    margin: 0 0 5px 0;
    font-size: 20px;
}
.badge, .badge-esercente {
    overflow: hidden;
    margin: 30px 0 0 0;
}
.badge-esercente a {
    float: left;
    overflow: hidden;
    margin: 5px 0 0 0;
    padding:15px 25px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    background: rgb(52,150,1);
    background: linear-gradient(0deg, rgba(52,150,1,1) 33%, rgba(69,177,0,1) 90%);
}
.badge a {
    width: 150px;
    float: left;
    overflow: hidden;
    margin:  0 10px 0 0;
}
.badge a img{
    width: 100%;
}
.input-group {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}
.form__input {
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    background-color: #f2f2f0;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    display: block;
    width: 43%;
    float: left;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}
textarea{
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    background-color: #f2f2f0;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    display: block;
    width: 92%;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}
.mr{
    margin: 0 3px 6px 0;
}
.ml{
    margin: 0 0 6px 3px;
}
.form-info {
    display: block;
    margin: 15px auto;
    overflow: hidden;
}
.enter{
    display: block;
    text-align: center;
}
.enter a, .enter button {
    display: inline-block;
    background: rgb(52,150,1);
    background: linear-gradient(0deg, rgba(52,150,1,1) 33%, rgba(69,177,0,1) 90%);
    padding: 5px 30px;
    width: 150px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 25px;
}

.b-contain *, .b-contain *::before, .b-contain *::after {
    box-sizing: content-box !important;
}

.b-contain input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.b-contain span {
    line-height: 1.54;
    font-size: 14px;
    font-family: inherit;
    width: 100% !important;
}
.b-contain {
    display: table;
    position: relative;
    padding-left: 1.8rem;
    cursor: pointer;
    margin-bottom: .5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: rgba(241, 245, 248, 1);
    transition: background 250ms;
    border: 1px solid rgba(184, 194, 204, 1);
    border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background: rgba(241, 245, 248, 1);
    transition: background 250ms;
    border: 1px solid rgba(184, 194, 204, 1);
    border-radius: 2.0rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .45rem;
    top: .18rem;
    width: .25rem;
    height: .6rem;
    border: solid rgba(255, 255, 255, 1);
    border-width: 0 2px 2px 0;
    transition: background 250ms;
    transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
    content: '';
    position: absolute;
    display: none;
    left: .25rem;
    top: .25rem;
    width: .75rem;
    height: .75rem;
    border-radius: 2.0rem;
    background: rgba(255, 255, 255, 1);
    transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
    border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
    display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
    background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
    box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
}

.b-contain input:checked ~ .b-input {
    background: rgba(0, 130, 243, 1);
    border-color: rgba(0, 130, 243, 1);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
    background: rgba(241, 245, 248, 1);
    border-color: rgba(184, 194, 204, 1);
    opacity: 0.6;
    cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
    background: rgba(241, 245, 248, 1);
    border-color: rgba(184, 194, 204, 1);
    opacity: 0.6;
    cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
    background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input, .b-contain:hover input:not([disabled]):checked ~ .b-input {
    background: rgba(13, 143, 255, 1);
    border-color: rgba(13, 143, 255, 1);
}

.b-contain .b-input::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    margin-left: -0.85rem;
    margin-top: -0.85rem;
    background: rgba(0, 130, 243, 1);
    border-radius: 2rem;
    opacity: .6;
    z-index: 99999;
    transform: scale(0);
}
.img-slider{
    width: 100%;
    margin: 0 auto;
}
.img-slider img{
    width: 100%;
}
.wrap{
    margin: 0 auto;
    width: 1000px;
}
/*----- Toggle Button -----*/
.toggle-nav {
    display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        display: inline-block;
        float: right;
        margin: 0 20px 0 0;
    }
}

.menu ul {
    display:inline-block;
}

.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.menu li:last-child {
    margin-right:0px;
}

.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#777;
    transition:color linear 0.15s;
    text-decoration: none;
}

.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}
/* Dropdown Button */
.dropbtn {
    text-transform: uppercase;
    color: #333333;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin:0 10px 0 0;
    text-transform: uppercase;
}
.dropbtn:after {
    content: "▾";
    margin: 0 0 0 10px;
    font-size: 16px;
}
.home{
    text-decoration: none;
    color: #333;
    
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}

@media screen and (max-width: 970px) {
    .search-form input {
        width:120px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .dropbtn, .home {
        font-size: 12px;
    }
    .center-logo {
        width: 250px;
        height: 278px;
    }
    h1 {
        font-size: 29px;
        padding: 0 10px;
    }
    p {
        font-size: 16px;
        padding: 0 10px;
    }
    .left, .right{
        display: block;
        float: none;
        width: auto;
    }
    .left{
        height: 33%
    }
    .swiper-slide-active .left, .swiper-slide-active .right{
        display: block;
        float: none;
        width: auto;
        height: auto;
    }
    .img-slider img {
        width: 65%;
    }
    .table{
        height: auto;
        width: calc(100% - 4%);
        padding: 0 2%;
    }
    .swiper-slide h2{
        font-size: 25px;
    }
    .swiper-slide h3{
        font-size: 18px;
    }
    .swiper-slide p{
        font-size: 12px;
        margin: 7px 0;
    }
    .num-list li, .letter-list li {
        font-size: 12px !important;
    }
    .input-group {
        width: 100%;
        margin: 0 auto;
    }
    .form__input{
        width: calc(100% - 29px);
        margin: 0 0 10px 0;
    }
    .box-text {
        padding: 0 3%;
        width:calc(100% - 6%);
    }
    .box-text p {
        font-size: 14px;
    }
    
    .box-text ul li {
        margin: 0 10px;
        font-size: 14px;
        list-style: none;
    }
    .box-text ul li::before {
        content: "►";
        color: #0056B0;
        margin: 0 6px 0 0;
    }
    
    
    footer .part a, footer .part2 {
        font-size: 13px;
    }
}
